---
import Base from "@/layouts/base.astro";
---

<Base title="Beranda">
    <div class="container">
        <h1 class="font-serif">
            Konferensi Daerah Ikatan Notaris Indonesia Kabupaten Garut 2024:
            Momen Demokrasi dan Solidaritas Profesi Hukum
        </h1>
    </div>
</Base>
