---
interface NavItem {
    title: string;
    href: string;
}

interface Props {
    nav : NavItem[]
}

import X from "@/components/icons/x.astro";
import Facebook from "@/components/icons/facebook.astro";
import Github from "@/components/icons/github.astro";
import Instagram from "@/components/icons/instagram.astro";
import Tiktok from "@/components/icons/tiktok.astro";
import Youtube from "@/components/icons/youtube.astro";
import LogoINI from "@/assets/logo-ini.svg"

const thisYear = new Date().getFullYear();
const { nav } = Astro.props;

---

<div class="red-gradient text-destructive-foreground">
    <div class="container mx-auto pt-16 mb-8">
        <div class="lg:flex justify-between gap-8">
            <div class="lg:w-3/6 mb-8">
                <div class="lg:flex gap-6">
                    <div class="w-24 mb-4">
                        <img src={LogoINI.src} alt="" />
                    </div>
                    <div>
                        <h2 class="mb-4 font-bold">
                            Pengurus Daerah Kabupaten Garut<br /> IKATAN NOTARIS
                            INDONESIA
                        </h2>
                        <p>Sekertariat:</p>
                        <address class="not-italic">
                            Komplek RUKO IBC Nomor C-18<br />Jalan
                            Guntur-Pramuka Kabupaten Garut.<br />
                            Telp. 0213 987654321<br />
                            pengdagarut@gmail.com
                        </address>
                    </div>
                </div>
            </div>
            <div class="lg:w-2/6 mb-8">
                <ul class="flex flex-wrap w-full">
                    {
                        nav.map( nav => (
                            <li class="w-1/2 mb-2">
                                <a
                                    class="animate-in duration-150 hover:underline"
                                    href={nav.href}
                                >
                                    {nav.title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="lg:w-1/6 mb-8">
                <nav class="flex gap-4 mx-auto">
                    <a href="https://www.facebook.com/people/Pengda-Ini-ppat-Kabupaten-Garut/61556932181052/">
                        <Facebook className="w-6 fill-white" />
                    </a>
                    <a href="https://tiktok.com">
                        <Instagram className="w-6 fill-white" />
                    </a>
                    <a href="https://tiktok.com">
                        <Youtube className="w-6 fill-white" />
                    </a>
                    <a href="https://tiktok.com">
                        <X className="w-6 fill-white" />
                    </a>
                    <a href="https://tiktok.com">
                        <Tiktok className="w-6 fill-white" />
                    </a>
                    <a href="https://github.com/inipengdagarut">
                        <Github className="w-6 fill-white" />
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-xs text-center lg:px-0 border-t py-4">
            © {thisYear} Pengurus Daerah Kabupaten Garut Ikatan Notaris Indonesia
        </p>
    </div>
</div>